			<%= render 'validation_errors', object: @moderator %>
			<%= form_for [:admin, @moderator] do |f| %>

				<p>
					<%= f.label :fullname, 'Fullt navn:' %>
					<%= f.text_field :fullname %>
				</p>
				<p>
					<%= f.label :username, 'Brukernavn:' %>
					<%= f.text_field :username %>
				</p>
				<p>
					<%= f.label :role, 'Rolle:' %>
					<%= f.text_field :role %>
				</p>	
				<p>
					<%= f.label :password, 'Passord:' %>
					<%= f.password_field :password %>
				</p>
				<p>
					<%= f.submit :class => "btn btn-primary" %>
				</p>
			<% end %>