<%= form_for [:admin, @article] do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this admin_article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="col-md-9">
    <div class="form-group">
      <%= f.label :title, :class => "" %>
      <%= f.text_field :title, :class => 'form-control', :placeholder => "Tittel" %>
    </div>
    <div class="field">
      <%= f.label :summary %><br>
      <%= f.text_area :summary, :class => "form-control", :placeholder => "Ingress" %>
    </div>
    <div class="form-group">
      <%= f.label :category_id, :class => "sr-only" %>
      <%= f.select :category_id, Category.where(:categorytype => '1').collect {|c| [c.name, c.id]}, {prompt: 'Velg kategori'}, :class => "form-control" %>
    </div>
    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_area :content, :class => "summernote" %>
    </div>

  </div>
  <div class="col-sm-3">

    <div class="panel panel-default">
      <div class="panel-heading">
        <%= f.submit 'Lagre', :class => "btn btn-primary btn-block" %>
      </div>
      <div class="panel-body">
        <div class="checkbox checkbox-primary">
          <%= f.check_box :publish, :class => "" %>
          <%= f.label :publish, 'Publisere' %>
        </div>
      </div>

      <div class="panel-footer">
        <span class="text-muted small">
          Publisert av: <% if @article.moderator.present? %><%= @article.moderator.fullname %><% end %><br>
          Opprettet: <%= @article.created_at.to_s(:long) if @article.created_at? %><br>
          Sist oppdatert: <%= @article.updated_at.to_s(:long) if @article.updated_at? %>
        </span> 
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        Hovedbilde
      </div>
      <div class="panel-body">
        <div class="img-responsive" id="image-holder"><%= image_tag @article.image_url(:medium) if @article.image? %></div>

        <% if @article.image.present? %>
          <div class="field">
            <%= f.label :imagetext, 'Bildetekst', :class => '' %><br>
            <%= f.text_area :imagetext, :class => "form-control", :placeholder => "Bildetekst" %>
          </div>
        <% end %>

      </div>
      <div class="panel-footer">
        <%= f.label :image, :class => "btn btn-info btn-block" do %>
          <%= f.file_field :image, :class => 'hide'%>Velg bilde
        <% end %>
      </div>  
    </div>
  </div>
  


<% end %>

<script type="text/javascript">
  $(function() {
    $('.summernote').summernote({
      height: 250,
      tabsize: 4,
      toolbar: [
                 ["style", ["style"]],
                 ["style", ["bold", "italic", "underline", "clear"]],
                 ["table", ["table"]],
 
                 ["color", ["color"]],
                 ["para", ["ul", "ol", "paragraph"]],
                 ['insert', ['link', 'picture', 'videoAttributes']],  
                 ['insert', ['hr', 'fullscreen']]
             ]
      });
    });
  </script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#article_image").on('change', function() {
        var countFiles = $(this)[0].files.length;
        var imgPath = $(this)[0].value;
        var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();
        var image_holder = $("#image-holder");
        image_holder.empty();
        if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
          if (typeof(FileReader) != "undefined") {
            //loop for each file selected for uploaded.
            for (var i = 0; i < countFiles; i++) 
            {
              var reader = new FileReader();
              reader.onload = function(e) {
                $("<img />", {
                  "src": e.target.result,
                  "class": "thumb-image"
                }).appendTo(image_holder);
              }
              image_holder.show();
              reader.readAsDataURL($(this)[0].files[i]);
            }
          } else {
            alert("This browser does not support FileReader.");
          }
        } else {
          alert("Pls select only images");
        }
      });
    });
  </script>
