<div class="ibox">
  <div class="ibox-content">
    <div class="panel-body">  
      <p id="notice"><%= notice %></p>


      <table class="table table-bordered table-hover" >
        <thead>
          <tr>
            <th>Tittel</th>
            <th>Kategori</th>
            <th colspan="2">Handlinger</th>
          </tr>
        </thead>

        <tbody>
          <% @articles.each do |art| %>
            <tr>
              <td><%= art.title %></td>
              <td><%= art.category.name %></td>
              <td><%= link_to 'Redigere', edit_admin_article_path(art) %></td>
              <td><%= link_to 'Slett', admin_article_path(art), method: :delete, data: { confirm: 'Er du sikker?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Ny artikkel', new_admin_article_path %>

    </div>
  </div>
</div>
