
<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <h3><%= @article.title%></h3>
      <p><strong><%= @article.summary %></strong></p>
      <p><%= @article.content.html_safe %></p>
    </div>
    <div class="col-sm-3">
      <h4>Siste</h4>
      <% @articles.alleaktuelt.each do |art| %>
        <%=  link_to article_path(art) do %>
          <h5><%= art.title %></h5>
        <% end %>
      <% end %>
    </div>
  </div>
</div>