
<div class="container">
  <div class="row">
      <div class="col-md-8">
        <div class="row">
          <h3 class="visible-xs-*">
            <%= @illustrasjon.title%>
          </h3>
          <% @illustrasjon.assets.each do |ill| %>
            <div class="col-xs-6 col-md-3">
              <%= image_tag ill.image.url(:medium), :class => "img-responsive img-illustrasjon" if ill.image? %>  
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="sm-hidden">
          <%= @illustrasjon.title%>
        </h3>
        <%= @illustrasjon.content.html_safe %>
        <div class="row">
          <span class="btn btn-md btn-color">
            <i class="zmdi zmdi-attachment-alt"></i> <%= link_to "Last ned bildene (.zip)", @illustrasjon.document.url, :target => 'blank' if @illustrasjon.document? %> 
          </span>
        </div>
      </div>
  </div>
</div>

