<div class="ibox">
    <div class="ibox-content">
        <div class="panel-body">	
			<%= link_to 'Legge til ny topnivå-artikkel', new_admin_post_path, :class => 'btn btn-sm btn-primary' %>
			<p><hr></p>
			<% #@posts = Post.where({}).arrange %>

			<% @posts = Post.where({:category_id => params[:cat]}).arrange %>

			<%= arranged_tree_as_list(@posts, {:list_style => :bootstrap_list_group}) do |post| %>
			<div class="dd-container">
		    <span class="link-to">
		    	<%= link_to edit_admin_post_path(post) do %>
		    		<span class="my-link"><i class="zmdi zmdi-long-arrow-return" style="transform: scaleX(-1);"></i> <%= post.title %></span>
		    	<% end %>
		    </span>
			   	<div class="action-buttons text">
					<%= link_to 'Add Child', new_admin_post_path(:parent_id => post, :category_id => post.category_id), :class => "btn btn-xs btn-primary" %>
					<%= link_to 'Redigere', edit_admin_post_path(post), :class => "btn btn-xs btn-primary" %>
					<%= link_to '', admin_post_path(post, :category_id => post.category_id), method: :delete, data: {confirm: 'Er du sikker på at du vil slette?'}, :class => "zmdi zmdi-delete btn btn-sm btn-danger" %>
			    </div>
		   	</div>
			<% end %>
		</div>
	</div>
</div>