<div class="ibox">
  <div class="ibox-content">
    <div class="panel-body">  
      <p id="notice"><%= notice %></p>


      <table class="table table-bordered table-hover" >
        <thead>
          <tr>
            <th>Kategori</th>
            <th>Beskrivelse</th>
            <th>Plassering</th>
            <th colspan="2">Handlinger</th>
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |cat| %>
            <tr>
              <td><%= cat.name %></td>
              <td><%= cat.description %></td>
              <td><%= cat.categorytype %></td>
              <td><%= link_to 'Redigere', edit_admin_category_path(cat) %></td>
              <td><%= link_to 'Slett', admin_category_path(cat), method: :delete, data: { confirm: 'Er du sikker?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'Ny kategori', new_admin_category_path %>

    </div>
  </div>
</div>
