       

<h2 class="headline text-color">
  <span class="border-color">Aktuelt</span>
</h2> 
<div class="row recent-articles">

  <% @articles.published.each do |art| %>
   
  <div class="col-md-6">
    <div class="recent-article">
      <%= image_tag art.image_url(:medium), :class => 'media-object' if art.image? %>
      <div class="recent-article-desc">
        <h3 class="primary-font">
          <%=  link_to article_path(art) do %>
            <%= art.title %>
          <% end %>
        </h3>
        <%= art.summary %>
        <hr>
        <p></p>
          <%=  link_to article_path(art), :class => "btn btn-md btn-color" do %>
            Les mer...
          <% end %>
      </div>
    </div>
  </div>
  <% end %>

</div>


