
	<%= render 'search', route: posts_path %>
	

    <!-- post content + sidebar -->
    <section style="margin:20px;">
        <div class="row">
            <!-- post content area -->
            <div class="col-md-9">
                <div class="blog block post-content-area">
                	<p class="breadcrumbs" aria-label="breadcrumb">
	                   <% all_parents = @post.ancestors %>
						<% all_parents.each do |ancestor| %>
							<%=  link_to ancestor.title, post_path(ancestor), :class => 'breadcrumb-item' %> /
						<% end %>
					</p>
                    <div class="post-info-box">
                    	<div class="row">
                    		<div class="col-md-12"><h3><%= @post.title %></h3></div>
                    	</div>
	                    <div class="row">
	                        <div class="col-md-8">
	                        	<%= @post.content.html_safe %>  	
	                        </div>
				    		<div class="col-md-4">
				    			<p><%= image_tag @post.image_url(:large), :class => 'img-responsive img-border img-radius' if @post.image?%></p>
				    			<div class="">
				    				<% @post.links.each do |l| %>
				    					<%= link_to l.title, l.url, :class => 'btn btn-xs btn-cta' %>
				    				<% end %>
				    			</div>
				    		</div>
                        </div>

                        <!-- sections content area -->						
						<div class="row mt-5">
							<% if @post.documents.present? %>
							<div class="panel-group tabbed">								 
			                    <div class="panel">
				                    <div class="panel-heading">
				                        <a class="panel-title accordion-toggle collapsed" data-toggle="collapse" href="#panel-attachement" aria-expanded="false">
				                         	<div class="ms-list-icon">
												<%= selection_type_icon(9).html_safe %>
											</div>
											<div class="ms-list-text">Vedlegg</div>
				                        </a>
				                    </div>
				                    <div id="panel-attachement" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
				                        <div class="panel-body text-gray" style="padding:20px 40px;">
											<% @post.documents.each do |d| %>
												<p><%= link_to d.title, d.document.url, :target => 'blank' %>
												</p>
											<% end %>
				                        </div>
				                    </div>
			                    </div><!-- / panel -->			       
			                </div>	
			            	<% end %>

			                <% if @post.sections.present? %>								
							<% @post.sections.ordered.each do |section| %>
							
							<div class="panel-group tabbed">
			                    <div class="panel">
				                    <div class="panel-heading">
				                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel<%= section.id %>" aria-expanded="false">
				                         	<div class="ms-list-icon">
												<%= selection_type_icon(section.sectiontype).html_safe %>
											</div>
											<div class="ms-list-text"><%= section.title %></div>
				                        </a>
				                    </div>
				                    <div id="panel<%= section.id %>" class="panel-collapse collapse" aria-expanded="false">
				                        <div class="panel-body text-gray">
				                        	<%= section.content.html_safe %>
				                        </div>
				                    </div>
			                    </div><!-- / panel -->
			                </div>

			                <% end %>
			                <% end %>
			            </div>		            	
					</div>
				</div>


				<% all_children = @post.descendants.arrange %>

				<%= arranged_as_list(all_children, {:list_style => :bootstrap_list_group}) do |post| %>

				<div  id="section-<%= post.id %>" class="row" style="margin: 50px 0 10px 0px;background-color: #f0f0f0;border: 1px solid #cccccc;">

					<div class="content-bn" style="padding:40px;">

	                	<div class="row">
	                		<div class="col-md-12">
	                			<%= link_to post_path(post) do %><h3><%= post.title %></h3><% end %></div></div>
	                			<div class="row">
	                		
	                    			<div class="col-md-7">
	                        			<%= post.content.html_safe %>  	
	                        		</div>
				    				<div class="col-md-5">
				    					<p><%= image_tag post.image.url(:large), :class => 'img-responsive img-border img-radius' if post.image?%></p>
						    			<div class="">
						    				<% post.links.each do |lx| %>
						    					<%= link_to lx.title, lx.url, :class => 'btn btn-xs btn-cta' %>
						    				<% end %>
						    			</div>				    					
									</div>				    		                       
	                    		</div>

	                    		<!-- Attachements -->
	                    		<div class="row mt-5">
									<% if post.documents.present? %>
									<div class="panel-group tabbed">								 
					                    <div class="panel">
						                    <div class="panel-heading">
						                        <a class="panel-title accordion-toggle collapsed" data-toggle="collapse" href="#panel-attachement-<%= post.id %>" aria-expanded="false">
						                         	<div class="ms-list-icon">
														<%= selection_type_icon(9).html_safe %>
													</div>
													<div class="ms-list-text">Vedlegg</div>
						                        </a>
						                    </div>
						                    <div id="panel-attachement-<%= post.id %>" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
						                        <div class="panel-body text-gray" style="padding:20px 40px;">
													<% post.documents.each do |d| %>
														<p><%= link_to d.title, d.document.url, :target => 'blank' %>
														</p>
													<% end %>
						                        </div>
						                    </div>
					                    </div>			       
					                </div>	
				                	<% end %>
									<!-- / Attachements -->

									<% if post.sections.present? %>
									<div class="row">									
										<% post.sections.ordered.each do |section| %>
										<div class="panel-group tabbed">
						                    <div class="panel">
						                    	<div class="panel-heading">
						                        	<a class="panel-title collapsed" data-toggle="collapse" href="#panel<%= section.id %>" aria-expanded="false">
						                         
						                         		<div class="ms-list-icon">
														 	<span class="ms-icon ms-icon-circle ms-icon-xlg color-info">   
														    	<%= selection_type_icon(section.sectiontype).html_safe %>
															</span>
														</div>
														<div class="ms-list-text"><%= section.title %></div>
						                        	</a>
						                    	</div>
						                    	<div id="panel<%= section.id %>" class="panel-collapse collapse" aria-expanded="false">
						                        	<div class="panel-body text-gray">
						                        		<%= section.content.html_safe %>
						                        	</div>
						                    	</div>
						                    </div><!-- / panel -->
						                </div>
						                <% end %>
						            </div>
					            	<% end %>
					            </div>
				          
				        	</div>
						</div>
						<% end %>	

            </div><!-- / col-sm-8 col-md-9 -->
            <!-- / post content area -->
            <!-- post sidebar area -->
            <div class="col-md-3">     
            	<div id="innhold">
            		<h4>Innhold</h4>
					<% all_subs = @post.descendants.arrange %>
					<%= arranged_tree_as_list(all_subs, {:list_style => :bootstrap_list_group}) do |post| %> 
				    	<a href="#section-<%=post.id%>"><%= post.title %></a>

				   	<% end %>
				</div>
			</div>
 
            <!-- / post sidebar area -->
        </div><!-- / row -->
    </section>
    <!-- / post content + sidebar -->
