<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Byggenæringens forlag</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <!-- CSS Global -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500,400italic,500italic,700italic' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body class="body-green">

 
  <%= render 'nav', collection: @articles %>

    <!-- Wrapper -->
    <div class="wrapper">



    

    <!-- Jumbotron -->
      <div class="main-slideshow">
        <div id="main-slideshow" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <!-- Slide No 1 -->
            <div class="item active">
              <div class="jumbotron first">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-6">

                    </div>

                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div> <!-- / Slideshow -->


 
     <!-- Intro Text -->
      <div class="container intro">

        <!-- Områder -->
        <h2 class="headline text-color">
          <span class="border-color">Våre områder</span>
        </h2> 
        <div class="row article">
          <div class="col-sm-3">
            <!-- Område #1 -->
            <div class="article-item">
              <a href="http://bnf.rm.no/login.aspx?ReturnUrl=%2f" target="_blank">
                <%= image_tag ('meny1.jpg'), :class => 'img-responsive' %>  
                <div class="mask">
                 Nettbokhandel
                 <span class="pull-right"><i class="zmdi zmdi-open-in-browser"></i></span>
                </div>
              </a>
              <div class="article-desc">
                <h3 class="primary-font">Nettbokhandel</h3>
                <p class="text-muted">
                  Bestille bøker her
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <!-- Område #2 -->
            <div class="article-item">
              <a href="/bokasnettressurs">
               <%= image_tag ('meny2.jpg'), :class => 'img-responsive' %>  
                <div class="mask">
                  Bokas nettressurs
                  <span class="pull-right"><i class="zmdi zmdi-lock-open"></i></span>
                </div>
              </a>
              <div class="article-desc">
                <h3 class="primary-font">Bokas nettressurs</h3>
                <p class="text-muted">
                  Digitale ressurser til undervisningen
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <!-- Område #3 -->
            <div class="article-item">
              <a href="/">
                <%= image_tag ('meny3.jpg'), :class => 'img-responsive' %>  
                <div class="mask">
                  Digital pedagogikk
                  <span class="pull-right"><i class="zmdi zmdi-arrow-right-top"></i></span>
                </div>
              </a>
              <div class="article-desc">
                <h3 class="primary-font">Digital pedagogikk</h3>
                <p class="text-muted">
                  Pedagogiske tips når undervisningen blir digital
                </p>
              </div>
            </div>
          </div>

          <div class="col-sm-3">
            <!-- Område #4 -->
            <div class="article-item">
              <a href="/hms">
                <%= image_tag ('meny4.jpg'), :class => 'img-responsive' %>  
                <div class="mask">
                  Helse, miljø og sikkerhet
                </div>
              </a>
              <div class="article-desc">
                <h3 class="primary-font">Helse, miljø og sikkerhet</h3>
                <p class="text-muted">
                  Dokumentert sikkerhetsopplæring<br>Grunnopplæring i arbeidsmiljø
                </p>
              </div>
            </div>
          </div>

        </div> <!-- / .row -->

         <!-- Aktuelt -->

            <%= yield %>
          
        

      </div> <!-- / .container -->

    </div> <!-- / .wrapper -->

    <!-- Footer -->
    <%= render 'footer' %>

    <!-- JavaScript
    ================================================== -->
     <%= javascript_include_tag 'application_bottom', 'data-turbolinks-track' => true %>
     <script type="text/javascript">
   

     </script>
  </body>
</html>